<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221921179455-i3unt9errlcd5goc0vh1i65h3kic587f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221921179455-i3unt9errlcd5goc0vh1i65h3kic587f</string>
	<key>API_KEY</key>
	<string>AIzaSyAgumYv414ar9ZCb0gD10D-XRNLZzflgJM</string>
	<key>GCM_SENDER_ID</key>
	<string>221921179455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rdhdapps.SocialSpark</string>
	<key>PROJECT_ID</key>
	<string>clovernotes-60e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>clovernotes-60e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221921179455:ios:f231cc9989f2ed86f6058a</string>
	<key>DATABASE_URL</key>
	<string>https://clovernotes-60e0a.firebaseio.com</string>
</dict>
</plist>